
body {
    font-family: 'Nunito', sans-serif;
}
.py-4 {
    padding-top: 0rem !important;
}
ul {
    list-style-type: none;
}
.container-fluid.side{
    padding-left: 0px;
}
input.form-control.me-2 {
    width: 1100px;
}

